<div class="container">
    <div class="custom-panel">
        <div class="row">
            <div class="col-12">
                <h1>Input Controls</h1>
                <p>Wijmo includes nineteen different types of input controls, which can be used alone, as an input field in a form, or in conjunction with one of Wijmo's other controls. Like Wijmo's other controls, these use CollectionViews to manage their data; this means that its both easy to manage the data of the control, as well as easy to mimic data changes across multiple controls.</p>
                <p>This page will outline some of Wijmo's input components, as well as some of their key features.</p>
            </div>
        </div>
        <!-- Section Break -->
        <hr>
        <div class="row">
            <div class="col-12">
                <h2>AutoComplete</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Description</p>
            </div>
            <div class="col-8">
                <!-- Input Control -->
                Control
            </div>
        </div>
        <!-- Section Break -->
        <hr>
        <div class="row">
            <div class="col-12">
                <h2>ComboBox</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Description</p>
            </div>
            <div class="col-8">
                <!-- Input Control -->
                Control
            </div>
        </div>
        <!-- Section Break -->
        <hr>
        <div class="row">
            <div class="col-12">
                <h2>InputDate</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Description</p>
            </div>
            <div class="col-8">
                <!-- Input Control -->
                Control
            </div>
        </div>
        <!-- Section Break -->
        <hr>
        <div class="row">
            <div class="col-12">
                <h2>InputNumber</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Description</p>
            </div>
            <div class="col-8">
                <!-- Input Control -->
                Control
            </div>
        </div>
        <!-- Section Break -->
        <hr>
        <div class="row">
            <div class="col-12">
                <h2>MultiAutoComplete</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Description</p>
            </div>
            <div class="col-8">
                <!-- Input Control -->
                Control
            </div>
        </div>
        <!-- Section Break -->
        <hr>
        <div class="row">
            <div class="col-12">
                <h2>Tooltip</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Description</p>
            </div>
            <div class="col-8">
                <!-- Input Control -->
                Control
            </div>
        </div>
    </div>
</div>